/* Disable the arrow in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
/* Design the home page */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
    user-select: none;
}
:root{
    touch-action:pan-x pan-y;
}

/* Background video set */
#video{
    width: 100%;
    background: linear-gradient(#00000061, #000000e6);
}
.myVideo{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Header Design */
#header {
    max-width: 100vw;
    background: #323232;
    box-shadow: 0px 7px 6px #971616;
}
.header_container {
    display: flex;
    max-width: 93%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 226px;
}
.menu li a{
    text-decoration: none;
    color: #877979;
    transition: 0.3s;
    font-size: 18px;
}
.menu li {
    margin: 0px 15px;
    font-weight: bold;
}
.menu ul li a::after {
    content: "";
    padding: 1px;
    background: crimson;
    display: block;
    border-radius: 10px;
    margin: auto;
    transform: scaleX(0);
    transition: 0.5s;
}
.menu ul li a:hover::after {
    transform: scaleX(1.0);
}
.menu li a:hover {
    color: #d73957;
}
.logo img {
    margin: 10px 25px;
    height: 100px;
    transition: 0.3s;
}
.logo img:hover {
    transform: scale(1.1);
}

/* Scroll the page and change the header background color */
.change_header{
    position: sticky;
}
.change_header .logo img{
    height: 25px;
    margin-top: 20px;
}

/*Image Content*/
#video_container {
    text-align: center;
    display: grid;
    position: absolute;
    top: 15rem;
    width: 100%;
}
.mySelf {
    margin: 70px;
    max-width: 70%;
    margin: auto;
    color: white;
    text-shadow: 0px 0px 4px beige;
}
.mySelf h1 {
    font-size: 50px;
}
.mySelf span {
    color: crimson;
    font-weight: bold;
}
.mySelf big {
    display: block;
    font-weight: bold;
    font-size: 35px;
    margin: 10px 0px;
}
.typing{
    color: crimson;
}
.typed-cursor{
    color: crimson;
}
.mySelf p {
    font-weight: bold;
    font-size: 17px;
    color:crimson;
}
/* Design service section */
#service{
    background: #232828;
    padding: 100px 0px;
}
.service_container{
    max-width: 80%;
    margin: auto;
}
.service_container h1{
    font-family: arial black;
    margin: 30px 0px;
    color: crimson;
    display: block;
    text-align: center;
    font-size: 40px;
}
.service_container h1::after{
    content: "";
    border: 3px solid crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 22px 0px 0px -361px;
}
.service_container h1::before {
    content: "";
    border: 3px solid crimson;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 21.8px 0px 0px 337px;
}
.service_box{
    display: flex;
    justify-content: space-between;
}
.box{
    padding: 20px;
    max-width: 18rem;
    border: 2px solid #cbcbcb;
    background: repeating-linear-gradient(40deg, #6a1e29, transparent 100px);
    border-radius: 6px;
    text-align: center;
    margin: 0px 5px 10px;
}
.box h2{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #cbcbcb;
}
.box p {
    line-height: 24px;
    font-size: 19px;
    color: #7c7c7c;
}

/* Dynamic image chaner design */
#image{
    height: 398px;
}
.immm{
    width: 100%;
    box-shadow: 0px 0px 12px #eba573ad;
    margin-top: -2px;
}
.image_image img{
    position: absolute;
    height: 515px;
    width: 83%;
    margin-top: -26rem;
    z-index: -1;
    left: 6rem;
}
#img_arrow big{
    color: red;
    font-size: 151px;
    position: absolute;
    margin-top: 67px;
    left: -32px;
    font-weight: 500;
    overflow: hidden;
}
.left_arrow{
    left: -7px;
    position: absolute;
    animation: left_image_moving 1s linear infinite;
}
@keyframes left_image_moving{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 20px;
    }
    100%{
        margin-left: 0px;
    }
}
.right_arrow{
    margin-top: -399px;
    /* animation: right_image_moving 1s linear infinite; */
    font-weight: 500;
    right: 73px;
    position: absolute;
    font-size: 153px;
}
@keyframes right_image_moving{
    0%{
        margin-right: 0px;
    }
    50%{
        margin-right: 20px;
    }
    100%{
        margin-right: 0px;
    }
}

/*Design About section*/
#about {
    background: url(set.jpg) no-repeat;
    background-size: cover;
    padding: 90px 0px 90px 0px;
    word-spacing: 3px;
    font-weight: bold;
    box-shadow: 0px 0px 15px black;
    z-index: -1;
}
.about_container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #cbcbcb;
    display: grid;
    place-items: center;
    text-align: center;
}
.about_container p {
    max-width: 59rem;
}
.about_container h1 {
    font-family: arial black;
    margin: 30px 0px;
    color: crimson;
    display: inline-block;
    font-size: 40px;
}
.about_container h1::after{
    content: "";
    border: 3px solid crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 22px 0px 0px -264px;
}
.about_container h1::before {
    content: "";
    border: 3px solid crimson;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 21.8px 0px 0px 242px;
}

/* details section design */
#details{
    background: linear-gradient(#000000c7, #0000), url(details.jpg) no-repeat;
    background-size: cover;
    object-position: center center;
    background-attachment: fixed;
    padding-top: 100px;
}
.details_container{
    max-width: 80%;
    margin: auto;
}
.details_container h1{
    font-family: arial black;
    margin: 30px 0px;
    color: crimson;
    display: block;
    text-align: center;
    font-size: 40px;
}
.details_container h1::after{
    content: "";
    border: 3px solid crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 22px 0px 0px -399px;
}
.details_container h1::before {
    content: "";
    border: 3px solid crimson;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1.5rem;
    position: absolute;
    margin: 21.9px 0px 0px 374px;
}
.details1, .details2, .details3{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 100px 0px;
    max-width: 66rem;
    margin: auto;
}
.details2{
    text-align: right;
}
.image {
    display: flex;
    place-items: center;
}
.image img{
    height: 280px;
    object-fit: cover;
    box-shadow: 0px 0px 22px black;
}
.image_details {
    display: grid;
    align-items: center;
}
.image_details h2{
    font-size: 40px;
    color: #9f6f17;
}
.image_details p{
    font-size: 19px;
    word-spacing: -1px;
    line-height: 30px;
    max-width: 39rem;
    color: #cbcbcb;
    text-align:justify;
    margin: 0px;
}
.text_saticfy{
    margin-left: 7rem;
}
.middle_saticfy{
    margin-right: 7rem;
}

/* Design the video section */
.arrow{
    background: #4a1515de;
    padding: 0px 17px 7px 17px;
    font-size: 41px;
    color: #a17f7f;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-top: 8rem;
}
#left_btn{
    left: 17px;
    animation: left_moving 1s linear infinite;
    display: none;
}
@keyframes left_moving{
    0%{
        margin-left: 10px;
    }
    50%{
        margin-left:-10px ;
    }
    100%{
        margin-left: 10px;
    }
}
#right_btn{
    right: 17px;
    animation: right_moving 1s linear infinite;
}
@keyframes right_moving{
    0%{
        margin-right: 10px;
    }
    50%{
        margin-right:-10px ;
    }
    100%{
        margin-right: 10px;
    }
}

#container {
    background: #100101fa;
    overflow: clip;
}
#slider-container {
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
}

#slider-container #slider {
   display: flex;
   width: 1018%;
   height: 21rem;
   transition: all .5s;
}

#slider-container #slider .slide {
    margin: 0px 7px;
    background: transparent;
    box-shadow: 0px 0px 12px #541625;
    display: grid;
    place-content: center;
    transition: 0.5s;
}
#slider-container #slider .slide:hover{
    transform: scale(1.1);
}

@media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }

}

@media only screen and (max-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }

}

@media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }

}

@media only screen and (max-width: 550px) {

    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }
}


/* Footer design */
#footer{
    background: black;
    padding: 50px 0px;
    color: #898989;
}
.footer_container{
    text-align: center;
    width: 80vw;
    margin: auto;
}
.social{
    width: fit-content;
    margin: 0px 35px;
}
.social i{
    font-size: 30px;
    color: wheat;
    margin: 0px 5px;
}
.details_section{
    display: flex;
    margin: 25px auto;
    width: fit-content;
}
.menu{
    display: auto;
}
.footer_menu ul{
    list-style: none;
    float: left;
    padding: 0px;
}
.footer_menu ul:last-child{
    padding-left: 30px;
}
.footer_menu a{
    text-decoration: none;
    display: flex;
    font-weight: 700;
    color:inherit;
}
.footer_menu b{
    float: left;
    position: relative;
    margin-bottom: -6px;
}
.copyright big{
    font-weight: bold;
}

/* Responsive the header in logo and menu/links */
@media only screen and(max-width:900px){
    .image_image img{
        left: 8rem;
    }
    body{
        background-color: red;
    }
}
@media only screen and (max-width:821px){
    .logo img{
        height: 75px;
    }
    .menu li a{
        font-size:13px;
    }
    h1{
        font-size: 10px;
    }
}
@media only screen and (max-width:676px){
    .logo img{
        height: 55px;
    }
    .menu li a{
        font-size:9px;
    }
    h1{
        font-size: 10px;
    }
}
@media only screen and (max-width:600px){
    .arrow{
        font-size: 35px;
    }
}
@media only screen and (max-width:545px){
    .menu li{
        margin: 0px 5px;
        font-size: 8px;
    }
    .logo img{
        height: 45px;
        margin:0px 3px;
    }
    h1{
        font-size: 10px;
    }
}

/* Styling the Regestration form */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
#regestration{
    background: linear-gradient(#0000002b, #00000094), url(contact_img.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-family: 'Hind Siliguri', sans-serif;
}
.reg_container{
    height: 84vh;
    width: 87vw;
}
.reg_container h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 30px;
}
.form_container{
    width: 100%;
    display: grid;
    justify-items: end;
}
.form{
    width: 50%;
    display: grid;
    position: relative;
    right: 0;
}
.form input{
    padding: 12px 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: 2px solid #0000002b;
    border-radius: 5px;
    background: url(set.jpg) fixed;
    color: #ffffffc7;
}
.form p{
    color: #af0303;
    margin: 0px 0px 10px 10px;
    font-size: 15px;
    visibility: hidden;
}
.passIcon i{
    position: absolute;
    right: 10px;
    margin-top: -35px;
    color: white;
    cursor: pointer;
}
#submit{
    width: 50%;
    margin: 10px auto;
    cursor: pointer;
}
.login{
    width: 100%;
    margin: -2px auto 0px;
    text-align: center;
}
.login small{
    font-size: 20px;
    font-weight: bold;
    color: #c3790c;
    display: block;
}
.login small::before{
    content: "";
    width: 25%;
    display: inline-block;
    background: #9d9d9d;
    padding: 1px;
    margin-bottom: 4px;
}
.login small::after{
    content: "";
    width: 26%;
    display: inline-block;
    background: #9d9d9d;
    padding: 1px;
    margin-bottom: 4px;
    margin-left: -2px;
}
.login a{
    color: #9d9d9d;
    margin-top: 3px;
    display: block;
    font-weight: 900;
}

@media only screen and (max-width:860px){
    .reg_container h1{
        font-size: 2rem !important;
    }
}

@media only screen and (max-width:600px){
    .reg_container h1{
        font-size: 1.5rem !important;
    }
    .form_container{
        justify-items: center;
    }
    .form{
        width: 100%;
    }
}
